body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #c24de3;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content img {
    width: 100px;
    height: auto;
    margin-right: 15px;
}

.transparent-image {
    opacity: 0.5;
    /* 50% transparent */
}

.transparent-image:hover {
    opacity: 0.8;
    /* 80% transparent when hovered */
}

h1 {
    font-size: 1.5em;
}

main {
    padding: 20px;
}

.intro,
.benefits {
    margin-bottom: 20px;
}

.benefits-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefits-content ul {
    float: left;
    margin-right: 20px;
}

.benefits-content img {
    width: 150px;
    height: auto;
    flex-shrink: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .header-content {
        flex-direction: column;
        align-items: center;
    }
    .header-content img {
        margin-bottom: 10px;
    }
    .benefits-content {
        flex-direction: column-reverse;
        align-items: center;
    }
    .benefits-content ul {
        float: none;
    }
}