body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.logo-container {
    float: left;
    width: 100px;
    height: auto;
    padding: 10px;
}

.logo-container img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 1.5em;
    margin-left: 120px;
    /* Adjust based on logo size */
}

main {
    clear: both;
    padding: 20px;
}

.intro,
.benefits {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

@media screen and (max-width: 600px) {
    .logo-container {
        float: none;
        margin: auto;
    }
    h1 {
        margin-left: 0;
        font-size: 1.2em;
    }
    .intro p,
    .benefits ul {
        text-align: justify;
    }
}